
      body,
      html {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
      }

      .copyrightText {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        background-color: #b3261e;
      }

      .copyrightText p {
        margin: 0;
        color: white;
      }

      .contact {
        display: flex;
        align-items: center;
        gap: 20px;
      }

      .info-item {
        display: flex;
        align-items: center;
        gap: 10px;
      }

      .info-item p {
        margin: 0;
      }

      .sci {
        display: flex;
        gap: 10px;
      }

      .sci a {
        text-decoration: none;
      }