/* Basic styling for the page */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

/* Header styling */
header {
    background-color: #B3261E;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Navigation bar styling */
nav {
    background-color: #B3261E;
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

/* Main content styling */
.main-content {
    padding: 20px;
    background-color: white;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Footer styling */
footer {
    background-color: #B3261E;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}


/* Search bar styling under nav */
/* This is for the Browsing Page */
.search-container {
    text-align: center;
    padding: 20px;
    background-color: #f0f0f0;
}

.search-container input[type="text"] {
    padding: 10px;
    width: 300px;
    border: none;
    border-radius: 4px;
    margin-right: 10px;
}

.search-container button {
    padding: 10px 20px;
    background-color: #B3261E;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.search-container button:hover {
    background-color: #ddd;
    color: black;
}

